* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Spectralsc;
    src: url("../fonts/Spectralscsemibold.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #d5d9da;
}

.main-image {
    background-image: url("../images/main-image.png");
    background-position: center;
    background-size: cover;
    height: 811px;
}

.header {
    background-color: #dde0db;
    margin-top: -100px;
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 354px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 28px;
}

.menu ul li a {
    font-size: 16px;
    color: rgb(70, 80, 85);
    line-height: 1.2;
    text-decoration: none;
}

.header-actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: 94px;
}

.button {
    font-size: 16px;
    line-height: 11px;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    width: 205px;
}

.button.button-transparent {
    color: rgb(121, 136, 144);
    background-color: transparent;
    border: 1px solid #818282;
}

.gallery {
    padding: 102px 0 55px 0;
}

.gallery h2 {
    font-size: 40px;
    font-family: "Spectral SC", serif;
    color: rgb(47, 40, 34);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 54px;
    text-align: center;
}

.gallery-description {
    font-size: 18px;
    color: rgb(62, 52, 44);
    line-height: 1.2;
    margin-bottom: 18px;
    text-align: center;
}

.gallery-items {
    margin-left: -12px;
    margin-right: -12px;
}

.gallery-item {
    margin: 12px 11px;
    display: inline-block;
    vertical-align: middle;
    width: 384px;
    height: 258px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.gallery-item:hover .gallery-eye {
    display: block;
}

.gallery-item.gallery-item-big {
    width: 792px;
}

.gallery-text {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}

.gallery-eye {
    display: none;
    opacity: 0.6;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    line-height: 258px;
}

.gallery-eye img {
    vertical-align: middle;
}

.tours {
    padding: 54px 0 88px 0;
}

.tours h2 {
    font-size: 40px;
    font-family: "Spectral SC", serif;
    color: rgb(47, 40, 34);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: center;
}

.tours-items {
    margin-right: -12px;
    margin-left: -12px;
}

.tour-item {
    margin: 0 12px;
    display: inline-block;
    vertical-align: middle;
    background-color: #31393f;
    max-width: 384px;
    position: relative;
}

.tour-item-info {
    padding: 22px 22px 40px 22px;
}

.tour-item-text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

.tour-item-action {
    text-align: center;
}

.button.button-filled {
    font-size: 18px;
    color: rgb(37, 41, 43);
    background-color: #da8246;
}

.button.button-filled:hover {
    background-color: rgba(218, 130, 70, 0.7);
    box-shadow: 0 4px 15px 0 rgba(217, 149, 103);
}

.fix-block {
    width: 46px;
    height: 46px;
    background-color: #da8246;
    text-align: center;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

.fix-block img {
    vertical-align: middle;
}

.footer {
    padding: 54px 0 49px 0;
    background-color: #31393f;
}

.footer .footer-contacts {
    display: inline-block;
    vertical-align: middle;
    margin-left: 899px;
}

.footer .footer-title {
    font-size: 18px;
    color: rgb(167, 185, 197);
    margin-bottom: 15px;
    text-align: center;
}

.footer .footer-phone {
    font-size: 14px;
    color: rgb(131, 145, 156);
    line-height: 1;
    text-align: center;
}

.footer .footer-phone:last-child {
    margin-top: 7px;
}
